<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="scotchApp">

<head>
 <title ng-bind="'myApp &mdash; ' + title">myApp</title>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.css" />

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <!-- SPELLS -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-cookies.min.js"></script>
-->
	<script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.js"></script>

<script src="app/script.js"></script>
<script src="js/moment.js"></script>
<script src="js/angular-moment.min.js"></script>
<script src="app/services/authentication.service.js"></script>
<script src="app/controllers/index.controller.js"></script>
<script src="app/controllers/register.controller.js"></script>
<script src="app/controllers/login.controller.js"></script>
<script src="app/controllers/dashboard.controller.js"></script>

</head>

<!-- define angular controller -->
<body >

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Angular Example</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
        <li><a href="#contact"><i class="fa fa-comment"></i>Contact</a></li>
        <li><a href="#login"><i class="fa fa-comment"></i> Login</a></li>
        <li><a href="#register"><i class="fa fa-comment"></i> Register</a></li>
      </ul>
    </div>
  </nav>

   <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>

  <footer class="text-center">

  </footer>
   <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>

</body>

</html>
